<%- include("template/cabecera", {titleWeb: 'Pagina de mascotas'}) %>

<div class="container mt-2">
	<h1>CRUD Mongo</h1>
	<a class="btn btn-success btn-block mb-4" href="/mascotas/crear">
		Crear nueva mascota</a
	>
	<table class="table table-dark">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nombre</th>
				<th scope="col">Tipo de mascota</th>
				<th scope="col">Raza</th>
				<th scope="col">Accion</th>
			</tr>
		</thead>
		<tbody>
			<% if(arrayPets.length > 0 ) { %> <% arrayPets.forEach(el => {%>
			<tr>
				<td scope="row"><%= el.id %></td>
				<td><%= el.name%></td>

				<td><%= el.kindOfPet %></td>
				<td><%= el.race %></td>
				<td>
					<a href="mascotas/<%= el.id %>" class="btn btn-warning bt-sm">
						Editar
					</a>
				</td>
			</tr>
			<% })%> <% }%>
		</tbody>
	</table>
</div>

<%- include("template/pie") %>
